*.egg-info
*.mo
*.pyc
*.pyo
*-mxdev.txt
.installed.cfg
.mr.developer.cfg
.Python
.make-sentinels
.installed.txt
pip-selfcheck.json
bin/
build/
buildout.cfg
coverage/
develop-eggs/
dist/
eggs/
include/
lib/
parts/
src/
var/
