.global-nav-search-wrapper {
  .portal-searchbox-wrapper {
    top: -135px;
    left: 0;
    right: 0;
    width: 100%;
    @include screen-small() {
      top: -160px;
    }
    @include screen-large() {
      top: auto;
      left: auto;
      right: auto;
      width: 295px;
    }
    #portal-searchbox {
      .searchSection {
        padding: 0.5em 1.7em;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.5em;
        display: block;
      }

      form {
        #currentfolder_item,
        #search-no-results-message,
        #search-amount-results-found-message,
        #search-one-result-found-message {
          display: none;
        }

        input[name="SearchableText"] {
          padding-right: 2em;
          line-height: normal;
        }
      }
    }
  }
}

.searchResults {
  > dt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $primary-color;
  }
  > dd {
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-left: 0;
  }
  .documentLocation {
    padding-top: 0.7em;
    display: block;
    font-size: $font-size-small;
  }
}

.searchinformation-wrapper {
  background-color: $gray-lighter;
  padding: 0.5em;
  margin-bottom: 2em;

  & .amount {
    font-weight: bold;
  }

  #selected-facets {
    display: inline;
    padding-left: 0;

    li {
      display: inline-block;
      border: 1px solid $gray-dark;
      border-radius: 5px;
      padding: 0.25em;
      margin-right: .25em;
      margin-top: 0.25em;
      margin-bottom: 0;

      .facetItemValue {
        font-weight: bold;
      }

      .facetRemoveItem {
        @extend .fa-icon;
        @extend .fa-times;
      }
    }
  }
}

#filter-form {
  .searchButton {
    display: none;
  }

  .search-facets {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
  }

  > div {
    clear: both;
    padding-bottom: .5em;
    margin-bottom: 1em;
    padding-top: 13px;
    border-bottom: 1px solid lighten($primary-color, 50%);

    &.no-border {
      border-bottom: none;
      border-top: none;
      margin-bottom: 0;
    }

    &:first-child {
      .filter {
        margin-bottom: 10px;
      }
    }
    @include screen-medium {
      .filter {
        display: inline-block;
      }
    }
    .filter {
      margin-right: 1em;
      overflow: auto;

      input.searchPage {
        line-height: normal;
      }

      span {
        color: $link-color;
        cursor: pointer;
        padding-left: 10px;
        font-weight: bold;

        @extend .fa-icon-right;

        &:after {
          @extend .fa-chevron-down:before;
        }

        &.selected {
          color: $text-color;
          font-weight: normal;
          cursor: default;
        }
      }

      ul {
        @include ul("plain");

        display: none;
        position: absolute;
        overflow: auto;
        padding: 8px 0;
        border: 1px solid $dropdown-border-color;
        background-color: $dropdown-bg-color;

        @include boxshadow(0.5em 1em 2em -1em $dropdown-border-color);

        @include borderradius($border-radius);

        margin-left: -16px;
        margin-top: 10px;

        li {
          margin: 0;
          min-width: 10em;

          a {
            cursor: pointer;
            padding: 0.3em 1.5em;
            color: $dropdown-link-color;
            display: block;

            &:hover {
              background-color: $dropdown-bg-color-hover;
              color: $dropdown-link-color-hover;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.ui-autocomplete {
  padding: 0;
  border: 1px solid $gray;
  border-radius: 3px;
  @include boxshadow(0 0 10px 2px rgba(0, 0, 0, .3));
  margin-top: 20px;
  max-width: 100%;
  width: 100% !important;
  @include screen-medium() {
    width: 500px !important;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 16px 16px;
    border-color: transparent transparent $gray-dark;
    position: absolute;
    margin-top: -16px;
    right: 0;
    margin-right: 4px;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: transparent transparent #fff;
    position: absolute;
    margin-top: -15px;
    right: 0;
    top: 0;
    margin-right: 5px;
  }
  > .currentFolderItem {
    padding: 10px;
  }
  > li.ui-menu-item {
    display: inline-block;
    > a {
      padding: 5px 10px;
      border-top: 1px solid $gray-light;
      box-sizing: border-box;
      border-radius: 0;
      &.ui-state-focus {
        border-width: 1px 0 0;
        margin: 0;
        background: $gray-lighter;
        color: $link-color;
        text-decoration: underline;
      }
      &:hover, &:hover > div {
        color: $link-hover-color;
        text-decoration: underline;
      }
      > img {
        display: table-cell;
        float: left;
        margin-right: 0.2em;
      }
      &:before {
        float: left;
        width: 25px;
        margin: 0;
      }
      > span {
        float: left;
        width: 25px;
      }
      > div {
        width: calc(100% - 25px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        > span {
          display: block;
        }
        > .title {
          font-weight: bold;
        }
        > .description {
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    > .group {
      padding: 10px;
      display: block;
      background-color: $gray-light;
      font-weight: bold;
      font-size: 15px;
    }
    & > a.no-result {
      text-align: center;
      padding-left: 10px;
      > div {
        float: none;
      }
    }
  }
}

#notFoundSuggestions {
  @include clearfix();
  @include ul(plain);
  margin-top: 1em;
  margin-left: -5px;

  > li {
    float: left;
    padding: 5px;

    &:before {
      margin-right: 0;
    }
  }

}
